body {
    background-color: #D5E3FF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Outfit, Open Sans;
    font-size: 15px;
}

.container {
    background-color: white;
    height: 510px;
    width: 330px;
    border-radius: 5%;
    
}

img {
    height: 300px;
    width: 300px;
    border-radius: 5%;
    margin-top: 5%;
}

h2 {
    color:#041138;
    font-weight:bolder;
}

p {
    color: #C9C9C9;
}
